body {
  background-color: rosybrown;
}
.root__main-container {
  height: 400px;
  width: 300px;
  border: solid 1px black;
  justify-content: center;
}
.main-container__message-div {
  border: solid 1px black;
  display: flex;
  height: 320px;
  margin: 10px;
}
.main-container__footer-container {
  border: solid 1px black;
  margin: 0 10px;
  height: 50px;
  align-items: center;
  display: flex;
}
.footer-container__text-arena {
  height: 30px;
  margin: 0 5px;
  width: 200px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer-container__send-message {
  height: 30px;
  width: 60px;
}
.root__avtoriz-container {
  height: 400px;
  width: 300px;
  border: solid 1px black;
  justify-content: center;
}
.login-input-div__login-input {
  height: 30px;
  margin: 0 5px;
  width: 200px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.login-button-div__login-button {
  height: 30px;
  width: 60px;
}
.log-in_form {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.avtoriz-container__heder-div {
  display: flex;
  justify-content: center;
}

